In [1]:
import sys
sys.path.append('../')

from src.data.loader import get_equity_data
from src.features.signals import add_sma, add_rsi, add_momentum, add_macd
df_stock = get_equity_data("AAPL", period="6mo")

/Users/jamespecore/Documents/Github/data_engineering_portfolio_2025/ai-financial-signals-pipeline/notebooks/../src/data/loader.py:37: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, period=period, interval=interval, progress=False)

In [2]:
df_stock = add_sma(df_stock, 20)

In [3]:
df_stock = add_rsi(df_stock, 14)

In [4]:
df_stock = add_momentum(df_stock, 10)

In [6]:
df_stock = add_macd(df_stock)

In [7]:
df_stock.tail()

Price,Date,Close,High,Low,Open,Volume,sma_20,rsi_14,momentum_10,macd,macd_signal
Ticker,,AAPL,AAPL,AAPL,AAPL,AAPL,,,,,
118,2025-07-11,211.160004,212.130005,209.860001,210.570007,39765800,204.319000,71.727976,10.160004,NaN,NaN
119,2025-07-14,208.619995,210.910004,207.539993,209.929993,38840100,204.790000,64.004704,7.539993,NaN,NaN
120,2025-07-15,209.110001,211.889999,208.919998,209.220001,42296300,205.423000,67.826770,3.940002,NaN,NaN
121,2025-07-16,210.160004,212.399994,208.639999,210.300003,47490500,206.010001,67.551011,2.339996,NaN,NaN
122,2025-07-17,210.020004,211.800003,209.589996,210.625000,47738194,206.729001,68.729220,-2.419998,NaN,NaN